.header {
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header .backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    z-index: 100;
}
.header .branding_contain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 10px;
    padding: 10px 30px;
}

.header .branding_contain .logo_img {
    height: 40px;
}

.header .branding_contain .app_title {
    font-size: 18px;
}

.header .settings {
    position: relative;
    font-size: 25px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 30px
}
.header .settings .popup {
    background-color: white;
    position: absolute;
    top: 50px;
    left: -100px;
    z-index: 100;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgb(238, 238, 238);
}
.header .settings .popup *{
    font-size: 16px;
}
.header .settings .popup .logout_btn {
    outline: none;
    border: none;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    background-color: #ff4154;
    color: white;
    cursor: pointer;
}

.header .settings .popup .popup_option {
    cursor: pointer;
    text-decoration: none;
    color: black;
}