.header {
    height: fit-content;
}

.header .branding_contain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 10px;
    padding: 10px 30px;
}

.header .branding_contain .logo_img {
    height: 40px;
}

.header .branding_contain .app_title {
    font-size: 18px;
}